<li data-commune="<%= commune.id %>"
    class="rounded-lg border border-gray-200 bg-white shadow-sm transition hover:shadow-md focus-within:ring-2 focus-within:ring-blue-600">
  <%= link_to commune_path(commune.code_insee), class: "block space-y-3 p-4" do %>
    <div>
      <h2 data-nom class="font-semibold text-blue-800 underline-offset-2 group-hover:underline">
        <%= commune.nom %>
      </h2>
      <% if commune.population %>
        <p class="text-sm text-gray-500">
          <%= number_with_delimiter(commune.population, delimiter: " ") %> habitants
        </p>
      <% end %>
    </div>

    <dl class="space-y-2">
      <% CommunesController::DOMAINES.each do |domaine| %>
        <div data-feu="<%= domaine %>" class="flex items-center justify-between gap-2">
          <dt class="text-sm text-gray-700"><%= libelle_domaine(domaine) %></dt>
          <dd><%= badge_feu_carte(@feux[domaine][commune.id]) %></dd>
        </div>
      <% end %>
    </dl>
  <% end %>
</li>
